#cartPage{
    background-color: #fff;
}
.cartContainer{
    width: 95%;
    margin: auto;
    display: flex;
    padding:40px 15px;
}
#cart_title{
    margin:20px 0;
    font-size: 1.5em; 
    border-bottom: 1px solid rgb(223, 220, 220);
    padding: 10px 0;
}
#continue_explore{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin: 10px auto;
    padding: 10px 14px;
    background-color: navy;
    border-radius: 5px;
    color: orangered;
    border: none;
    outline: none;
    cursor: pointer;
}
#continue_explore:active{
    background-color: rgb(12, 12, 189);
}
.cartContainer__left{
    background-color:#f2f2f2;
    padding:10px 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px 3px rgb(218, 216, 216);
}
.cartContainer__right{
    position: fixed;
    background-color:#f2f2f2;
    padding:20px;
    border-radius: 10px;
    margin-left: 15px;
    width: 30%;
}
.cartContainer__right h3 >span{
    color:#333 !important;
}
#proceed_checkout{
    margin: 20px auto 5px;
    padding: 10px 14px;
    background-color: orangered;
    border-radius: 5px;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    width: 100%;
    text-align: center;
}
#proceed_checkout:active{
    background-color: rgb(175, 50, 4);
}
#proceed_checkout:disabled{
    background-color: lightcoral;
    cursor: default;
}
@media screen and (max-width:1199px) {
    .cartContainer__right{
        position: relative !important;
        background-color:#f2f2f2;
        padding:20px;
        border-radius: 10px;
        margin-top: 20px;
        margin-left: 0px;
        width: 90%;
    }
}
@media  screen and (max-width:700px){
    #cart_title{
        margin:15px 0;
        font-size: 1.2em; 
        border-bottom: 1px solid rgb(223, 220, 220);
        padding: 10px 0;
    }
}
@media screen and (max-width:580px) {
    .cartContainer__right{
        position: relative !important;
        background-color:#f2f2f2;
        padding:20px;
        border-radius: 10px;
        margin-top: 20px;
        margin-left: 0px;
        width: 100%;
    }
}