.foodcard{
    margin: 20px auto;
    box-shadow: 2px 2px 4px 2px thistle !important;
    max-height: 430px;
}

.food-card-image {
    min-height: 250px;
    max-height: 250px;
    object-fit: cover;
}

[data-id="addCartBUtton"]{
    font-weight: 700;
}
